<p class="navbar-text navbar-right">click here to <%= render "devise/shared/links" %><!-- <a href="#" class="navbar-link">Mark Otto</a>--></p>
<div  align = "center" >
    <div class="panel panel-default" style="width: 400px">
         <% if notice %>
            <p class="alert alert-success" style=""><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger"  style=""><%= alert %></p>
        <% end %>
      <div class="panel-heading"  align = "left" style="width: 400px; background-color: #009688">
            <h2 align="center">Create account</h2>
      </div>
      <div class="panel-body" align = "left" style="width: 400px">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
      <%= f.submit "Sign up" , :class => 'btn btn-lg btn-success btn-block'%>
  </div>
<% end %>

    <%#= render "devise/shared/links" %>
